<div class="page-region-content">
    <div class="grid">
        <div class="row">
            {{!< default}}

            {{! The comment above "< default" means - insert everything in this file into
            the {body} of the default.hbs template, which contains our header/footer. }}
            <div class="span9">
                <article class="{{post_class}}">
                    {{! Everything inside the #post tags pulls data from the post }}
                    {{#post}}

                    {{! Everything below outputs content of the the post which has been published }}

                    <div class="article_title bg-color-blue padding20 pos-rel">
                        <a href="{{url}}"><h2 class="fg-color-white">{{{title}}}</h2></a>
                    </div>
                    <div class="bg-color-blueDark fg-color-white padding5">
                        {{#if author}}
                       Author:&nbsp;<a class="fg-color-white" href="">{{author.name}}</a> ||
                        {{/if}}
			 Tagged In: <span class="fg-color-white"> {{#if tags}} {{tags separator=", "}}{{/if}}</span>

                    </div>
                    <br>
                    <div class="article_content">
                        {{content}}
                    </div>
                    <footer class="post-footer">
                        <section class="share">
                            <h4>Share this post</h4>
                            <a class="icon-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}"
                               onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                               <span class="hidden">Twitter</span>
                            </a>
                            <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                               onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                               <span class="hidden">Facebook</span>
                            </a>
                            <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                               onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                               <span class="hidden">Google+</span>
                            </a>
                        </section>
                    </footer>
                    {{/post}}
                </article>
		 <span class="tertiary-text fg-color-blue"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>

            </div>

        </div>
    </div>
</div>
